*.pdf
*.pickle
*.h5
*.png
*.pth
*.gif
*.h5
*.zip
*.tar
*.gz
*.xz
# *.txt
*.mat
*.npz
*.npy
*.jpg
*.svg
*.csv
*.ckpt
*.pyc
*.0*
*.1*
*.2*
*.3*
*.4*
*.5*
*.6*
*.7*
*.8*
*.9*
./vscode
./myLED
./DeepKoopmanLusch
*.dcd
*.mae
*.pdb
*.pt
*.json